body {
    margin-top: 0;
    text-align: center;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.635rem;
    color: #66BFBF;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: #40514E;
}

h3,
a {
    color: #11999E;
}

a {
    text-decoration: none;
}

a:hover {
    color: white;
}

.top-container {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.profile {
    margin: 30px auto;
}

hr {
    border-style: dotted none none;
    width: 5%;
    border-width: 5px;
    border-color: #EAF6F6;
    margin: 50px auto;
}

p {
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;
}

.coding-img {
    float: left;
    width: 25%;
    margin-right: 30px;

}

.baking-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.footer-grace {
    color: #EAF6F6;
    position: relative;
    top: 40px;
}

.bottom-container {
    background-color: #66BFBF;
    height: 150px;
    padding-top: 50px;
    margin-top: 50px;
}

.footer-link {
    margin: auto 30px auto 30px;

}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 20px;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}